*{
    margin: 0;
    padding: 0;
}
body{
    background-color: yellow;
    padding: 2%;
}
body > #main {
    margin: auto;
    background-color: aqua;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}
#header {
    display: flex;
    justify-content: space-around;
}
#header img {
    width: 20%;
    border-radius: 10px;
}
#header #navbar{
    justify-content: space-around;
}
#header #navbar ul{
    display: flex;
    color: rgb(63, 227, 30);
    justify-content: space-around;
    list-style-type: none;
    float: left;
}
#header #navbar ul li {
    border-right: 1px solid #bbb;
    padding: 4px;
}
.container #cards  {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.container #cards .card {
    width: 40%;
    
}
.container img {
    /* background-color: darkgoldenrod; */
    /* display: flex; */
    width: 40%;
    margin: auto;
    /* position: absolute; */
    border-radius: 10px;

}
