body{
    background-image: url('../images/bg.jpeg');
}
#main {
    text-align: center;
    padding: 50px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

#main #navbar ul{
    display: flex;
}
#header {
    /* display: flex; */
    background-color: rgb(199, 15, 171);
    text-align: center;
    width: 60%;
    padding: 20px;
    margin: auto;
    
}
#main #header #navbar{
    /* background-color: black; */
    margin-bottom: auto;
    /* float: left; */
    width: 60%;
    margin: auto;
}
#header #profile{
    /* background-color: black; */
    /* width: 50%; */
    text-align: center;
    margin: auto;
}
#header img {
    width: 20%;
    border-radius: 10px;
    /* margin: auto; */
}
.main .card{
    margin-left: 20%;
    background-color: black;
}
#header #navbar ul{
    display: flex;
    color: rgb(63, 227, 30);
    justify-content: space-around;
    list-style-type: none;
    width: 90%;
    /* float: left; */
}
#header #navbar ul li {
    border-right: 1px solid #bbb;
    margin: auto;
}
.container #cards  {
    width: 80%;
    justify-content: space-around;
    margin: auto;
}
.container #cards .card {
    /* width: 99%; */
    /* margin-left: 20px; */
    background-color: darkorange;
    color: blue;
    padding: 20px;
    margin-top: 20px;
    /* margin: auto;
     */
}
.container img {
    /* background-color: darkgoldenrod; */
    /* display: flex; */
    width: 80%;
    margin: auto;
    /* position: absolute; */
    border-radius: 10px;

}
.container #projects .card {
    background-color: deeppink;
    padding: 10px;
    margin-top: 20px;

}
.container #contact a:hover {
    color: burlywood;
}
.container .footer {
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* background-color: black; */
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.container .footer .footed div {
    display: inline;
    padding: 20px;
    width: 100%;
    justify-content: space-around;
}